*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{width: 100%;font-size: 62.5%;font-family:"Microsoft JhengHei", "TW-Kai", sans-serif; background:rgba(239,239,239,1.00);}
body{text-align: center;background:url(wp.png);}
.header{display: inline-block;margin: 3rem auto 0 auto;}
.header img{float: left;max-height:20rem;}
.header li{display:none;}
.block{margin: 3rem auto 0 auto;}
.block img{float: none;}
.block li{background: rgba(255,255,255,1.00);float: none;width:50rem;margin: 2rem auto; font-size:2.5rem; line-height: 3.2rem; text-align:left;}
.t{display: inline-block;margin: 2rem auto 1rem auto;}
.t li{font-size:3rem;font-weight: bold;}
.icon{display: inline-block;margin: 0 auto;width: 60rem;overflow: hidden;}
.icon li{float: left;text-align: center; width: 19.4rem;height: 9.2rem; margin: 0.2rem; padding-top: 0.8rem; border: 0.1rem solid rgba(0,0,0,0.1);overflow: hidden;}
.flow{display: inline-block;margin: 0 auto 3rem auto;width: 60rem;overflow: hidden;}
.flow img{width: 60rem;}
.form{display: inline-block;margin: 1rem auto;width: 52rem;overflow: hidden;font-size:2.2rem;}
.l1{width: 40rem;height: 4rem;padding-left: 0.5rem;margin-top: 1rem;}
.l2{width:20rem;height: 8rem;color: rgba(255,255,255,1);font-size:3rem;background-color:rgba(69,76,216,0.80);margin-top: 3rem;}
.c{background:rgba(219,198,183,0.40);display: inline-block;margin: 3rem auto;padding-bottom: 4rem; font-size:2.5rem;line-height: 3.5rem; width: 60rem;overflow: hidden;}
.footer{display: inline-block;margin: 2rem auto;width: 60rem;font-size: 1.8rem;color: rgba(0,0,0,0.7);}
.search{display: inline-block;margin: 2rem auto;width: 60rem;}
.search p{font-size: 3.5rem;font-weight: bold;padding-bottom: 3rem;}
.search li{display: inline-block;margin: 0 auto;width: 60rem;}
.search li p{width: 20rem;height: 4rem; padding-top: 3rem; font-size: 2.5rem;float: left;background:rgba(0,0,0,0.2);}
.p1{width: 40rem;height: 10rem; float: left;border: 0.2rem solid rgba(0,0,0,0.2);box-sizing:border-box; background:url(p1.png) no-repeat center;}
.p2{width: 40rem;height: 10rem; float: left;border: 0.2rem solid rgba(0,0,0,0.2);box-sizing:border-box; background:url(p2.png) no-repeat center;}
.p3{width: 40rem;height: 10rem; float: left;border: 0.2rem solid rgba(0,0,0,0.2);box-sizing:border-box; background:url(p3.png) no-repeat center;}
.w1{width: 40rem;height: 10rem; padding-top: 3rem; font-size: 2.5rem; float: left;border: 0.2rem solid rgba(0,0,0,0.2);box-sizing:border-box;}
.w{float: none;margin: 3rem auto 0 auto;width: 60rem;}
.w p{text-align: left;font-size: 2rem;margin-top:1rem;}
.w li{font-size: 1.7rem;color: rgba(0,0,0,0.7);margin-top: 5rem;padding-bottom: 3rem;}

